html, body, #app, .wrapper {
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.card {
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
#register,
#profile {
    width: 320px;
    height: 400px;
}
#profile {
    margin-left: inherit;
    margin-right: inherit;
    left: 5%;
    position: relative;
}
.placesList {
    max-height: 255px;
    overflow-y: auto;
}
.place {
    position: absolute;
    top: 0;
    left: 0;
}
#logout {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 1000;
}